<ion-content>
  <div class="flex-center">
    <br>
    <ion-card position shape="round" class="card-register">
      <ion-card-header>
        <ion-card-title color="warning">Registarse</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked" color="warning">Nombre</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label position="stacked" color="warning">Correo electronico</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="warning">Nueva contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button color="medium" fill="clear" size="full"
        routerLink="/login">¿Ya tienes cuenta? Inicar sersion</ion-button>
        <ion-button shape="round" color="warning" size="full" routerLink="/login">Registrar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>
